.header{
    width: 100%;
    height: auto;
    background: url(../img/alberto-castillo-q-mx4mSkK9zeo-unsplash.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    .color{
        width: 100%;
        height: inherit;
        background-color: rgba(0, 4, 12, 0.5);
    }

    .div-menu{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        @media screen and(max-width:1077px){
            flex-direction: column !important;
        }



        div {
            width: 10%;
            height: 8vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;

            @media screen and(max-width:1077px){
                align-items: center;
                width: 100%;
                margin: 10px 0px;
            }


            img {
                width: 25%;

                @media screen and(max-width:1077px){
                    width: 50px;
                }
    
            }

        }

        nav{ 
            width: 90%;
            height: 8vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;

            @media screen and(max-width:1077px){
                width: 100% !important;
                margin: 10px 0px;
                text-align: center;
            }

            ul {
                li{
                    a {
                        padding: 10px 10px;
                    }
                }
            }
        }
    }
}

.div-sec-2{
    width: 100%;
    height: 60vh;
    background: url(../img/alexandra-gorn-JIUjvqe2ZHg-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.link-2{
    text-decoration: none;
}

.hoverMio1{
    &:hover{

        &::after{
            transition: all .2s;
            content: '→';
        }
    }
}