@charset "UTF-8";
.header {
  width: 100%;
  height: 100vh;
  background: url(../img/alberto-castillo-q-mx4mSkK9zeo-unsplash.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.header .color {
  width: 100%;
  height: inherit;
  background-color: rgba(0, 4, 12, 0.5);
}

.header .div-menu {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media screen and (max-width: 1077px) {
  .header .div-menu {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
  }
}

.header .div-menu div {
  width: 10%;
  height: 8vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media screen and (max-width: 1077px) {
  .header .div-menu div {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    margin: 10px 0px;
  }
}

.header .div-menu div img {
  width: 25%;
}

@media screen and (max-width: 1077px) {
  .header .div-menu div img {
    width: 50px;
  }
}

.header .div-menu nav {
  width: 90%;
  height: 8vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (max-width: 1077px) {
  .header .div-menu nav {
    width: 100% !important;
    margin: 10px 0px;
    text-align: center;
  }
}

.header .div-menu nav ul li a {
  padding: 10px 10px;
}

.div-reservar {
  width: 100%;
  height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.div-reservar .sub-reservar {
  width: 35%;
  padding: 10px 20px;
  background-color: white;
  border-radius: 5px;
}

.div-reservar .sub-reservar div {
  margin: 8px 0px;
}

.div-sec-2 {
  width: 100%;
  height: 60vh;
  background: url(../img/alexandra-gorn-JIUjvqe2ZHg-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.link-2 {
  text-decoration: none;
}

.hoverMio1:hover::after {
  -webkit-transition: all .2s;
  transition: all .2s;
  content: '→';
}

.tarjetas-footer a {
  font-size: 15px;
  padding: 2px 10px;
}

.tarjetas-footer a:hover {
  color: #f56565;
}
/*# sourceMappingURL=miSass.css.map */